.blog-info {
  width: 100%;
  padding: 3%;
}
.author-details {
  display: flex;
  align-items: center;
}
.blog-image {
  width: 100%;
  border-radius: 8px;
}
.author-pic {
  width: 36px;
  height: 36px;
  border-radius: 36px;
  margin-right: 8px;
}
